@charset "UTF-8";
/* CSS Document */

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	margin: 0;
	padding: 0;
}

.skiplinks {
	margin: 0;
	padding: 0;
	position: absolute;
	width: 100%;
	z-index: 3000;
	
	font-size: 1.25rem;
	font-weight: bold;
	list-style-type: none;
}

.skiplinks a,
.skiplinks a:link,
.skiplinks a:visited {
	padding: 0.75em 1 em;
	position: absolute;
	top: -10em;
	
	background-color: #000;
	
	color: #fff;
	text-decoration: none;
}

.skiplinks a:focus {
	top: 0;
}

a:link { 
	color: #CCC;
	text-decoration:none;
	}
a:visited { 
	color: #CCC;
	text-decoration:none;
	}
a:hover { 
	color: #F60;
	background-color: none;
	text-decoration: none;
	}
a:active { 
	color: #333333;
	text-decoration:none;
	}
	
/*----- Body -----*/

body {
	padding: 0;
	margin: 0;
	background-color: #666;
}

header {
	text-align: center;
}



.searchbar {
	color: #CCC;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	padding-bottom: 15px;
}

/*----- Navigation -----*/

nav a {

	padding: .5em 0;
	margin-left: 2px;
	margin-right: 2px;
	display: inline-block;
	min-width: 100%;
	min-height: 100%;
}

.navpage {
	font-family: "MS Serif", "New York", serif;
	color: #FFF;
	letter-spacing: 1px;
	background-color: #333;
	margin: 3px;
}

h1 {
	margin: 0;
	padding-top: 20px;
	padding-bottom: 5px;
}

/*----- Content -----*/

.content {
	visibility: visible;
	margin-left: 5px;
	margin-right: 5px;
	padding-left: 6px;
}

p {
	font-family:arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height: 19px;
	letter-spacing: 1px;
	text-align:left;
	color: #CCC;
}


.home-img {
	display:inline-block;
	width: 100%;
}
	

.intro {
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 2px;
	padding-bottom: 2px;

}


h2 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 25px;
	line-height: 25px;
	text-align:left;
	color: #FFF;
}

.spacer {
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 5px;
}

/*----- Grid -----*/

.grid {
  letter-spacing: -0.31em;
  *letter-spacing: normal;
  *word-spacing: -0.43em;
  text-rendering: optimizespeed;
  margin-top: 15px;
}
.opera-only :-o-prefocus,
.grid {
  word-spacing: -0.43em;
}

.flex-img {
	filter:url(http://static.tumblr.com/eptm5us/ueTmafr4p/filters.svg#grayscale); /* Firefox 3.5+ */
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
   
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
    -webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */
    -webkit-backface-visibility: hidden; /* Fix for transition flickering */
	display:inline-block;
	width: 100%;
}

.flex-img:hover {
    filter: none;
    -webkit-filter: grayscale(0%);
}

.unit {
  display: inline-block;
  *display: inline;
  zoom: 1;
  letter-spacing: normal;
  text-rendering: auto;
  vertical-align: top;
  word-spacing: normal;
}
.unit-spacer {
  padding: 8px;
}

/*----- Footer -----*/

footer {
	font-size: 10px;
	font-family: Verdana, Geneva, sans-serif;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #CCC;
	background-color: #333;
}

/*----------------- Media Queries -------------------*/

@media screen and (min-width: 470px) {
	
	a:link { 
		color: #CCC;
		background-color: none;
		text-decoration:none;
	}
	a:visited { 
		color: #fff;
		text-decoration:none;
	}
	a:hover { 
		color: #F60;
		background-color: transparent;
		text-decoration: none;
	}
	a:active { 
		color: #333333;
		text-decoration:none;
	}
	
	.top {
		display: block;
		
	}
	
	/*----- Navigation -----*/

	nav a {

		margin-left: 1px;
		margin-right: 1px;
	}
	
	
	.navbox {
		background-color: #333;
		width: 100%;
	
	}

	
	.navpage {
	    display: inline-block;
		text-align: center;
		padding-right: 4px;
		padding-left: 4px;
		margin: 1px;
	}


	h1 {
		margin: 0;
		padding-top: 20px;
		padding-bottom: 5px;
	}
	
	.content {
	visibility: visible;
	}
	
	p {
		padding-left: 15px;
		padding-right: 15px;
	}
	
	/*----- Grid -----*/

	.grid {
  	letter-spacing: -0.31em;
  	*letter-spacing: normal;
  	*word-spacing: -0.43em;
  	text-rendering: optimizespeed;
  	margin-top: 15px;
	}
	.opera-only :-o-prefocus,
	.grid {
  	word-spacing: -0.43em;
	}

	.flex-img {
		filter:			 	
url(http://static.tumblr.com/eptm5us/ueTmafr4p/filters.svg#grayscale); /* Firefox 3.5+ */
    	filter: url("data:image/svg+xml;utf8,<svg 		xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/>	</filter></svg>#grayscale");
   
    	filter: gray; /* IE6-9 */
    	-webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
    	-webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */
    	-webkit-backface-visibility: hidden; /* Fix for transition flickering */
		display: inline-table;
		width: 100%;
		
	}

	.flex-img:hover {
     filter: none;
     -webkit-filter: grayscale(0%);
	}

.unit {
  display: inline-block;
  *display: inline;
  zoom: 1;
  letter-spacing: normal;
  text-rendering: auto;
  vertical-align: top;
  word-spacing: normal;
  padding-right: 5px;
}
.unit-spacer {
  padding: 8px;
}

.home-img {
	display:inline-block;
	width: 100%;
}

.spacer {
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 5px;
}

}

@media screen and (min-width: 750px) {
	
	p {
		padding-left: 50px;
		padding-right: 50px;
	}
	
	hr {
		width: 100%;
	}
	
	.top {
		display: block;
		
	}
	
	.content {
	visibility: visible;
	}
	
	.spacer {
		padding-top: 10px;
		padding-bottom: 10px;
		margin: 5px;
	}
	
	
	.logo {
		display: inline-block;
		float: left;
	}
	
	.navbox {
		float: right;
	}
	
	.navcontent {
		display: inline-block;
		margin-left: 40%;
	}
	
	nav a {

		padding: .5em 0;
		margin-left: 1px;
		margin-right: 1px;
		display: inline-block;
	}

	.navpage {
		display: inline-block;
		font-family: "MS Serif", "New York", serif;
		text-align: center;
		color: #FFF;
		letter-spacing: 1px;
		background-color: transparent;
		padding-right: 4px;
		padding-left: 4px;
		margin: 1px;
		
	}

	h1 {
		margin: 0;
		padding-top: 20px;
		padding-bottom: 5px;
	}
	
	.grid {
  	letter-spacing: -0.31em;
  	*letter-spacing: normal;
  	*word-spacing: -0.43em;
  	text-rendering: optimizespeed;
  	margin-top: 15px;
	margin-left: 25px;
	display:inline-block;
	}
	.opera-only :-o-prefocus,
	.grid {
  	word-spacing: -0.43em;
	}

	.flex-img {
		filter:			 	
url(http://static.tumblr.com/eptm5us/ueTmafr4p/filters.svg#grayscale); /* Firefox 3.5+ */
    	filter: url("data:image/svg+xml;utf8,<svg 		xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/>	</filter></svg>#grayscale");
   
    	filter: gray; /* IE6-9 */
    	-webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
    	-webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */
    	-webkit-backface-visibility: hidden; /* Fix for transition flickering */
		display: inline-table;
		width: 100%;
		
	}

.flex-img:hover {
    filter: none;
    -webkit-filter: grayscale(0%);
}

.unit {
  display: inline-block;
  *display: inline;
  zoom: 1;
  letter-spacing: normal;
  text-rendering: auto;
  vertical-align: top;
  word-spacing: normal;
}
.unit-spacer {
  padding: 8px;
}

.home-img {
	display:inline-block;
	width: 100%;
}

.spacer {
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 5px;
}
