# User Testing Report

User testing was conducted by Nadia on Wednesday December 11th between the times of 3pm and 4pm with the following participants:

- Mario Pietrobon
- Dominic Pietrobon
- Chantal Charbonneau

## Tasks

1. Go read about the website
2. Where would you go to learn about the wings of an owl
3. Find the Great Horned Owl page

---

## Individual Results & Observations

### Mario Pietrobon

- He clicked on the first link as expected
- He had no trouble completing the tasks
- he didn't do much other than fiddle around with the pointer before clicking on the link

### Dominic Pietrobon

- He clicked on the first link as expected
- He asked me what physiology was. A few words later he completed task 2.
- Completed task 3 just fine

### Chantal Charbonneau

- Clicked on the first link as expected
- finished all 3 tasks rather rapidly
(she's better with computers than the other two are...)

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- none, they had no trouble getting around other than Dominic who didn't know what physiology meant but that was a quick fix

### Serious, Causes Frustration, May Hinder Completion

- nothing

### Minor, Annoying, Won’t Hinder Completion

- nothing